body {
  background-color: #252525;
  color: #dfdfdf;
}
a,
a:hover {
  color: #fc0;
}
body.homepage .col-md-3 {
  display: none;
}
body.homepage .col-md-9 {
  width: 100%;
}
.navbar {
  border: none;
}
.navbar-default {
  background-color: #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
  color: #fc0;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.open > a,
.navbar-default .navbar-nav > li.open > a:hover,
.navbar-default .navbar-nav > li.open > a:focus {
  background-color: #252525;
}
code {
  color: #dfdfdf;
  background-color: #191919;
  border: none;
}
pre {
  padding: 6px;
  border-color: #000;
  background-color: #191919;
}
