html {
  scroll-padding-top: 70px;
}
body {
  color: #dfdfdf;
  font-size: 16px;
}
body a,
body a:visited {
  color: #fc0;
}
body a:hover {
  color: #fc0 !important;
}
body h2,
body h3 {
  font-size: 24px;
}
body .active > .nav-link {
  color: #fc0 !important;
}
body pre,
body code {
  background: #191919;
}
body pre {
  padding: 12px;
  border-color: #000;
}
body #announcement {
  color: #222;
  background-color: #ffd;
  text-align: center;
  padding: 6px;
}
body #announcement a,
body #announcement a:hover,
body #announcement a:active,
body #announcement a:visited {
  color: #222;
  text-decoration: underline;
}
body .navbar {
  background-color: #333 !important;
  padding: 0;
  /* tabs */
}
body .navbar a:hover {
  text-decoration: none;
}
body .navbar .logo {
  font-size: 30px;
  color: #fc0;
  font-family: 'Lobster', cursive;
  padding: 0 15px;
}
body .navbar .logo:first-letter {
  font-size: 34px;
  font-family: 'Leckerli One', cursive;
  margin-right: 1 px;
}
body .navbar .navbar-nav .nav-link {
  margin: 6px 10px;
  color: #dfdfdf;
}
body .navbar .navbar-nav .active {
  background-color: #222;
}
body .navbar .navbar-nav .active > .nav-link {
  color: #fc0 !important;
}
body .navbar .navbar-nav .dropdown-item {
  color: #dfdfdf;
}
body .navbar .navbar-nav .dropdown-item:hover {
  background-color: #333;
}
body .bs-sidebar .bg-secondary {
  background-color: #333 !important;
}
body .bs-sidebar .nav > li > a {
  font-weight: normal;
}
body .bs-sidebar .nav > li > a.active {
  border: none;
}
body .bs-sidebar .nav > li > ul > li > a.active {
  border-right: 1px solid #fc0;
}
body .bs-sidebar .nav-link {
  color: #dfdfdf;
}
body .bs-sidebar .nav-item.sub {
  padding-left: 20px;
}
body .bs-sidebar .active-top {
  color: #fc0;
}
body .bs-sidebar.affix {
  top: 72px;
}
body blockquote {
  border-left: 3px solid #333;
  margin-left: 0;
  padding-left: 1em;
}
body footer {
  background-color: #333;
  margin-bottom: 0;
  padding: 1.5em;
}
body.homepage a.headerlink {
  display: none;
}
body.homepage h2,
body.homepage h3 {
  margin-top: 12px;
}
body.homepage .well {
  background-color: #333;
  padding: 6px 0;
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
  height: 132px;
  border-radius: 4px;
  min-width: 300px;
}
@media (max-width: 991px) {
  .col-md-3 {
    display: none;
  }
  .col-md-9 {
    max-width: 100%;
    padding: 15px;
  }
  .navbar-fixed-top {
    position: absolute;
  }
  h1 {
    font-size: 33px;
  }
}
