{{ page.content }}

{% if page and (page.next_page or page.previous_page) and not page.is_homepage %}
  <div class="navbar-footer">
    <ul class="nav navbar-nav">
      {% if page.previous_page and not page.previous_page.is_homepage %}
      <li class="nav-prev">
        <a rel="prev" href="{{ page.previous_page.url }}">
          <i class="fa fa-arrow-left"></i> {{page.previous_page.title}}
        </a>
      </li>
      {% endif %}

      {% if page.next_page %}
      <li class="nav-next">
        <a rel="next" href="{{ page.next_page.url }}">
          {{page.next_page.title}} <i class="fa fa-arrow-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endif %}