<div class="bs-sidebar hidden-print affix well" role="complementary">
<ul class="nav bs-sidenav">
    {% for nav_item in nav %}
        {% if nav_item.active and nav_item.children is not None %}
            {% for nav_item in nav_item.children %}
                <li class="main {% if nav_item.active %}active{% endif %}"><a href="{{ nav_item.url }}">{{ nav_item.title }}</a></li>
                {% if nav_item.active %}
                    {% for toc_item in page.toc %}
                        {% for toc_item in toc_item.children %}
                            <li class="sub"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
</div>
