body {
  background-color: #252525;
  color: #dfdfdf;
  font-size: 16px;
  padding-top: 70px;
}
body a,
body a:hover,
body a:visited {
  color: #fc0;
}
body .col-md-3 {
  padding-left: 0;
}
body .col-md-9 {
  padding: 0;
  margin-top: -20px;
}
/* top nav */
.navbar {
  border: none;
  background-color: #333;
  min-height: 44px;
}
.navbar .navbar-header {
  /* logo */
}
.navbar .navbar-header :first-letter {
  font-size: 34px;
  font-family: 'Leckerli One', cursive;
  margin-right: 1 px;
}
.navbar .navbar-header .navbar-brand {
  font-size: 30px;
  color: #fc0;
  font-family: 'Lobster', cursive;
  padding: 15px 15px 7px;
}
.navbar .navbar-header .navbar-toggle {
  margin: 7px;
  background-color: #191919;
  outline: none;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:visited {
  color: #dfdfdf;
  padding: 14px 15px;
}
.navbar .navbar-nav > li > a:hover {
  color: #fc0;
}
.navbar .navbar-nav > li.active > a,
.navbar .navbar-nav > li.open > a,
.navbar .navbar-nav > li.active > a:hover,
.navbar .navbar-nav > li.open > a:hover,
.navbar .navbar-nav > li.active > a:focus,
.navbar .navbar-nav > li.open > a:focus {
  background-color: #252525;
  color: #fc0;
}
.dropdown-menu {
  background-color: #333;
}
.dropdown-menu li a,
.dropdown-menu li.active a {
  color: #dfdfdf !important;
  padding: 8px 25px !important;
}
.dropdown-menu li a:hover,
.dropdown-menu li.active a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li.active a:focus {
  color: #fc0 !important;
  background-color: #252525 !important;
}
.dropdown-menu li.active > a {
  color: #fc0 !important;
  background-color: #333 !important;
}
.search-box {
  background-color: #333;
}
.search-box .form-control:focus {
  border-color: #191919;
}
/* next/prev links */
.navbar-footer .navbar-nav {
  width: 100%;
}
.navbar-footer .navbar-nav .nav-prev {
  float: left;
}
.navbar-footer .navbar-nav .nav-next {
  float: right;
}
.navbar-footer .navbar-nav > li > a {
  color: #dfdfdf;
}
.navbar-footer .navbar-nav > li > a .fa {
  margin: 0 3px;
}
.navbar-footer .navbar-nav > li > a:hover,
.navbar-footer .navbar-nav > li > a:focus {
  color: #fc0;
  background-color: #252525;
}
/* toc */
.well {
  background-color: #333;
  padding: 6px 0;
}
.well ul {
  padding-left: 0;
}
.well ul li {
  list-style: none;
}
.well ul li a,
.well ul li a:visited {
  display: block;
  color: #dfdfdf;
  background-color: #333;
  border-right: 2px solid #333;
}
.well ul li a:hover {
  color: #fc0;
  text-decoration: none;
  background-color: #252525;
}
.well ul li.sub a {
  padding: 5px 20px 5px 35px;
}
.well ul li.active a,
.well ul li:hover a {
  color: #fc0;
  border-right: 2px solid #fc0;
}
/* home page */
body.homepage {
  /* hide TOC */
}
body.homepage .container > .col-md-3 {
  display: none;
}
body.homepage .container > .col-md-9 {
  width: 100%;
}
body.homepage a.headerlink {
  display: none;
}
body.homepage h2,
body.homepage h3 {
  margin: 12px 0;
}
body.homepage .well {
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  height: 132px;
}
body.homepage .well i.fa {
  margin-right: 4px;
}
h1 {
  font-size: 48px;
  font-weight: 100;
}
h2,
h3 {
  font-size: 24px;
}
h2 a.headerlink,
h3 a.headerlink {
  visibility: hidden;
  margin-left: 12px;
}
h2:hover a.headerlink,
h3:hover a.headerlink {
  visibility: visible;
}
code {
  color: #dfdfdf;
  background-color: #191919;
}
pre {
  padding: 6px;
  border-color: #000;
  background-color: #191919;
}
footer {
  text-align: center;
}
.table > thead > tr > th {
  border-bottom: 2px solid #666;
}
.table > tbody > tr > td {
  border-top: 1px solid #666;
}
.table > tbody > tr > td {
  /* no striping */
  background-color: inherit !important;
}
hr {
  border-top: 1px solid #666;
}
blockquote {
  border-left: 5px solid #666;
}
/* https://github.com/mkdocs/mkdocs/issues/843 */
:target::before {
  content: "";
  display: block;
  margin-top: -70px;
  height: 70px;
  pointer-events: none;
  animation: 0s 1s forwards collapse-anchor-padding-1;
}
/* Show and affix the side nav when space allows it */
@media (max-width: 991px) {
  .col-md-3 {
    display: none;
  }
  .navbar-fixed-top {
    position: absolute;
  }
  h1 {
    font-size: 33px;
  }
}
@media (min-width: 992px) {
  .bs-sidebar {
    width: 213px;
  }
}
@media (min-width: 1200px) {
  .bs-sidebar {
    width: 263px;
  }
}
